.input{
    width: 100%;
    outline: none;
    height: 2rem;
    margin-top: 0.5rem;
    padding: 1.3rem 1rem;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

input[type="number"] {
    -moz-appearance: textfield;
}